/* -----------------------------------------------*/

/* Product Card Styles */
.product-card {
  width: 390px;
  margin: 10px;

  background-color: #fff;
  overflow: hidden;
  transition: transform 0.7s ease-in-out;
  line-height: 1.2rem;
  height: 282px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
  border: 1px solid #667781;
  box-shadow: 0 8px 16px rgba(6, 78, 6, 0.2),
    0 12px 40px rgba(72, 189, 101, 0.2);
}

.product-image {
  width: 100%;
  height: 160px;

  //overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  transition: all 0.4s ease-in-out;
}

.product-image img:hover {
  width: 130%;
}

.product-info {
  padding: 20px;
  position: relative;
  transition: all 0.6s ease-in-out;
  border: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.product-info.product-info-background::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #648167;
  position: absolute;
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transform-origin: top;
}

.product-info.product-info-background:hover::before,
.product-info.product-info-background:focus::before {
  transform: scaleY(1);
}

.product-info.product-info-background {
  z-index: 1;
}

.product-price {
  color: rgb(175, 19, 19);
  font-size: 2rem;
  padding-top: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  height: 35px;
}

.product-title {
  font-weight: 600;
  line-height: 20px;
  height: 35px;
  font-size: 16px;
}

.product-description {
  margin-top: 10px;
  font-size: 1.4rem;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; /* Broj linija koje zelimo prikazati */
  -webkit-box-orient: vertical;
  max-height: 80px;
  overflow-y: auto;
  scrollbar-width: none;
  line-height: 2.2rem;
}
.product-description::-webkit-scrollbar-thumb {
  background-color: #739b73;
  border-radius: 10px;
  box-shadow: inset 5px 2px 6px rgba(0, 0, 0, 0.4);
}
/* Style the scrollbar itself (width and height) */
.product-description::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  height: auto; /* Allow it to expand as needed */
  padding: 5px 0; /* Add some padding if needed */
  background-color: transparent; /* Or any color you wish */
  margin-top: 10px;
}

.bottom-card i:hover {
  color: rgb(179, 33, 33);
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: space-between;
  margin-top: 7rem;
  padding-left: 5em;
  padding-right: 5em;
  height: auto;
}

.bottom-card a {
  text-decoration: none;
  color: var(--main-font);
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  font-size: 14px;
  text-align: center;
}

.bottom-card i {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.bottom-card .link-icon-pair:hover i {
  opacity: 1; /* This sets the icon's opacity to 1 when its parent .link-icon-pair is hovered */
  color: rgb(228, 43, 43);
  transform: translateX(8px);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  //transform-origin: right;
}
.bottom-card a:hover {
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  color: #242726;
}

// Svijetlo za productDetails dostupnost

@keyframes pulse-animation {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

.product-light {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: pulse-animation 2s infinite;
  }

  &--green {
    background-color: green;
    background-color: green;
    color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  &--red {
    background-color: red;
    color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .card-container {
    text-align: center;
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 1008px) {
  .product-card .product-title,
  .product-price,
  .product-description {
    font-size: 14px;
  }

  .bottom-card a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .product-card .product-title,
  .product-price,
  .product-description {
    font-size: 11px;
  }

  .bottom-card a {
    font-size: 9px;
  }
}

@media (max-width: 790px) {
  .card-container-header {
    margin-left: 3rem;
    width: 100%;
  }
}
