.sidebar {
  min-height: 100%;
  padding-top: 10rem;
  top: 0;
  position: sticky;
  font-size: 16px;
  display: flex;
  border-radius: 5px;
  color: black;
  background-color: rgb(230, 230, 221);
  position: relative;
  width: 300px;
  //border-left: 4px solid rgb(197, 207, 194);
  box-shadow: -10px 0 15px -10px rgba(0, 0, 0, 0.6);

  & h3 {
    font-weight: bold;
  }

  p {
    padding-bottom: 0.3em;
  }
}

.sidebar form {
  padding: 2em;
}

.form-group {
  padding-top: em;
}

.form-group label {
  padding-left: 0.3em;
}

.price-box label {
  padding-left: 0.3em;
}

.actual_page {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 770px) {
  .sidebar {
    display: none;
  }
}

.sidebar-products {
  color: red;
}
