.sidebar {
  min-height: 100%;
  padding-top: 10rem;
  top: 0;
  position: sticky;
  font-size: 16px;
  display: flex;
  border-radius: 5px;
  color: black;
  background-color: rgb(230, 230, 221);
  position: relative;
  width: 300px;
  //border-left: 4px solid rgb(197, 207, 194);
  box-shadow: -10px 0 15px -10px rgba(0, 0, 0, 0.6);

  & h3 {
    font-weight: bold;
  }

  p {
    padding-bottom: 0.3em;
  }
}

.sidebar form {
  padding: 2em;
}

.form-group {
  padding-top: em;
}

.form-group label {
  padding-left: 0.3em;
}

.price-box label {
  padding-left: 0.3em;
}

.actual_page {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 770px) {
  .sidebar {
    display: none;
  }
}

/* Stiliziranje trake */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: rgb(73, 133, 76); /* plava boja trake */
  border-radius: 5px;
}

/* Stiliziranje klizača */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Uklanja standardni stil */
  appearance: none;
  height: 20px;
  width: 20px;
  background: rgb(240, 236, 236); /* crvena boja klizača */
  cursor: pointer; /* kursor kao pokazivač */
  border-radius: 50%; /* kružni klizač */
  margin-top: -6px; /* centriranje klizača na traci */
}

/* Dodatne stilizacije za Firefox */
input[type="range"]::-moz-range-track {
  background: rgb(80, 124, 91);
  height: 8px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  background: rgb(236, 232, 232);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

/* Dodatne stilizacije za Internet Explorer */
input[type="range"]::-ms-track {
  background: rgb(59, 112, 62);
  height: 8px;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  background: !important rgb(231, 229, 229);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
